@{
    ViewData["Title"] = "Bienvenido";
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Bienvenido</title>
</head>
<body>
    <h1>BIENVENIDO MANO HOW ARE YOU :v ☠️☠️☠️(Funciona)</h1>

</body>
</html>